*{
    margin: 0;
}

body{
    font-family: "Roboto";
}

header{
    height: 10vh;
}
main{
    height: 80vh;
    background-color: #e5e5e5;
}
footer{
    height: 10vh;
}
.header-container{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container div{
    display: flex;
    align-items: center;
}

ul > li {
    color: white;
}

.header-container nav ul > li {
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.container > div {
    width: 48%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.delivery{
    background-image: url(img/delivery.jpg);
    background-size: cover;
}
.delivery > p {
    padding-top: 40px;
    padding-left: 60px;
    color: red;
    font-weight: 800;
    font-size: 32px;
}
p > strong {
    color: white;
}

.right-container{
    display: flex;
    background-color: white;
    flex-direction: column;
}

footer{
    width: 100%;
    height: 30vh;
}

.footer-container{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
}

ol > li {
    padding-top: 16px;
    font-weight: bold;
    font-size: 20px;
}

.right-footer{
    display: flex;
    align-items: center;
    padding-right: 40px;
}

.left-footer > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;
}

.ingredientes{
    position: absolute;
    top: 30%;
    left: 80%;
}


.title-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 32px;
}
h2{
    color: red;
    font-size: 32px;
    font-weight: 800;
}

.podio > h3{
    padding-left: 36px;
    padding-bottom: 36px;
    font-size: 24px;
}

.podio{
    margin-left: 120px;
    margin-top: 150px;
}

h3.footer-logo,h1{
    color:green;
    font-size: 32px;
}

.red{
    color: white;
}

.white{
    color: red;
}